.main-content {
    display: grid;
    grid-template-areas:
        "main main side"
        "bottom bottom side";
}
.main-content__main {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "title title "
        "article  video ";
    grid-template-columns: 1r 1fr;
    border-bottom: 1px solid black;
}

.main-content__title {
    grid-area: title;
    font-weight: bold;
    font-size: 42px;
    font-style: italic;
    margin: 15px 0;
}

.main-content__article-title {
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
    margin: 15px 0;
}
.main-content__main .main-content__article {
    grid-area: article;
    margin-bottom: 10px;
    border-right: 1px solid #e2e2e2;
    padding-left: 10px;
}
.main-content__bottom .main-content__article {
    padding-left: 10px;
}
.main-content__bottom .main-content__article:first-child {
    border-right: 1px solid #e2e2e2;
}
.article__header {
    padding: 0;
    margin-bottom: 10px;
}

.main-content__video {
    grid-area: video;
}

.main-content__article-story li {
    list-style: circle;
}

.main-content__article-story {
    padding-top: 10px;
}

.main-content__bottom {
    margin-top: 10px;
    grid-area: bottom;
    display: flex;
}

.main-content__side {
    grid-area: side;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.main-content__side .main-content__article {
    margin-bottom: 30px;
}
.main-content__side .article__title {
    font-weight: bold;
    font-size: 24px;
    margin: 10px 0;
    line-height: 25px;
}

.main-content__side .article__byline {
    color: rgb(104, 104, 104);
    text-transform: uppercase;
    font-size: 14px;
}
.main-content__side .article__category {
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
}

.main-content__side .main-content__article img {
    height: 75%;
}

.main-content__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
